In [1]:
import pandas as pd
import numpy as np

In [4]:
# Test using 2018-04 foreign tourists statistics

sample_df = pd.read_csv('data/test.csv')
sample_df.head()

,2018년 04월 외래객 입국-성별/국적별,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,국적,남성,여성,승무원,계,전년동기,성장률(%),구성비(%)
1,아시아주,"406,053","605,196","59,964","1,071,213","824,290",30,80.4
2,일본,"86,290","125,201","2,362","213,853","165,748",29,16.1
3,대만,"32,111","72,219",847,"105,177","79,203",32.8,7.9
4,홍콩,"21,156","44,600",777,"66,533","79,067",-15.9,5

In [15]:
sample = pd.read_csv('data/test.csv')
sample.columns

Index(['2018년 04월 외래객 입국-성별/국적별', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [17]:
sample.head()

,2018년 04월 외래객 입국-성별/국적별,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,국적,남성,여성,승무원,계,전년동기,성장률(%),구성비(%)
1,아시아주,"406,053","605,196","59,964","1,071,213","824,290",30,80.4
2,일본,"86,290","125,201","2,362","213,853","165,748",29,16.1
3,대만,"32,111","72,219",847,"105,177","79,203",32.8,7.9
4,홍콩,"21,156","44,600",777,"66,533","79,067",-15.9,5

### Test function to format data

In [ ]:
def format_df(dataframe):
    '''function detail
    input - csv dataframe from the url below:
        https://kto.visitkorea.or.kr/kor/notice/data/statis/profit/notice/inout/popup.kto#excel
    output - formatted dataframe for handling/merging/processing 
    '''