# Predict Future Sales
from [kaggle competition](https://www.kaggle.com/c/competitive-data-science-predict-future-sales/)

## 1. Data Optimization and Preprocessing

You are provided with daily historical sales data. The task is to forecast the total amount of products sold in every shop for the test set. Note that the list of shops and products slightly changes every month. Creating a robust model that can handle such situations is part of the challenge.

### File Description
* sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.
* sales_test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.
* sample_submission.csv - a sample submission file in the correct format.
* items.csv - supplemental information about the items/products.
* item_categories.csv  - supplemental information about the items categories.
* shops.csv- supplemental information about the shops.


### Data Fields
* ID - an Id that represents a (Shop, Item) tuple within the test set
* shop_id - unique identifier of a shop
* item_id - unique identifier of a product
* item_category_id - unique identifier of item category
* item_cnt_day - number of products sold. You are predicting a monthly amount of this measure
* item_price - current price of an item
* date - date in format dd/mm/yyyy
* date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
* item_name - name of item
* shop_name - name of shop
* item_category_name - name of item category

In [46]:
import pandas as pd
import numpy as np

In [47]:
train = pd.read_csv('data/sales_train.csv')
test = pd.read_csv('data/sales_test.csv')
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [48]:
items = pd.read_csv('data/items.csv')
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [49]:
item_categories = pd.read_csv('data/item_categories.csv')
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [50]:
shops = pd.read_csv('data/shops.csv')
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

## Data Optimization for `sales_train.csv`

In [51]:
# real memory usage dataframe 'train'  - 299.6MB
train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 299.6 MB

In [52]:
# check the number of null values in each column
train.isnull().sum()

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

### Optimize numeric columns

In [53]:
# optimize float columns to fit the data size in actual values

float_cols = train.select_dtypes(include=['float'])
float_cols.columns

Index(['item_price', 'item_cnt_day'], dtype='object')

In [54]:
for fc in float_cols.columns:
    train[fc] = pd.to_numeric(train[fc], downcast='float')

In [55]:
int_cols = train.select_dtypes(include=['int'])
int_cols.columns

Index(['date_block_num', 'shop_id', 'item_id'], dtype='object')

In [56]:
for ic in int_cols.columns:
    train[ic] = pd.to_numeric(train[ic], downcast='integer')

### Convert `id` columns to `category` type column
* Condition : `(number of unique `id` values / total number of data rows) < .5`

In [57]:
print(len(train['shop_id'].unique()) / len(train) < .5)
print(len(train['item_id'].unique()) / len(train) < .5)

True
True

In [58]:
train['shop_id'] = train['shop_id'].astype('category')

In [59]:
train['item_id'] = train['item_id'].astype('category')

### `Float` type to `Int` type & optimize column size

In [60]:
len(train['item_cnt_day'].unique())

198

In [61]:
# converting available?
for unq in train['item_cnt_day'].unique():
    if unq % 1 != 0:
        print('not available')
        break
else:
    print('converting from float to int available')

converting from float to int available

In [62]:
train['item_cnt_day'] = pd.to_numeric(train['item_cnt_day'].astype('int'),
                                      downcast='integer')

### `date` column to `date.datetime` datatype

In [63]:
train['date'] = pd.to_datetime(train['date'])

### How much optimized?

In [64]:
# original
pd.read_csv('data/sales_train.csv').info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 299.6 MB

In [65]:
# optimized
train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              datetime64[ns]
date_block_num    int8
shop_id           category
item_id           category
item_price        float32
item_cnt_day      int16
dtypes: category(2), datetime64[ns](1), float32(1), int16(1), int8(1)
memory usage: 51.2 MB

## Concatenate & combine data

In [66]:
# map the 'item_category_id' column values from 'item' dataframe
# and change the type as category

item_item_cat_id_mapped = dict(zip(items['item_id'].tolist(), items['item_category_id'].tolist()))
train['item_category_id'] = train['item_id'].map(item_item_cat_id_mapped)

In [67]:
train['item_category_id'] = train['item_category_id'].astype('category')

In [68]:
# map the 'item_category_name' column values from 'item_category_name'
# we do not change 'item_category_name' in train dataframe at now

item_cat_id_item_name_mapped = dict(zip(item_categories['item_category_id'].tolist(),
                                       item_categories['item_category_name'].tolist()))
train['item_category_name'] = train['item_category_id'].map(item_cat_id_item_name_mapped)

In [69]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,item_category_name
0,2013-02-01,0,59,22154,999.000000,1,37,Кино - Blu-Ray
1,2013-03-01,0,25,2552,899.000000,1,58,Музыка - Винил
2,2013-05-01,0,25,2552,899.000000,-1,58,Музыка - Винил
3,2013-06-01,0,25,2554,1709.050049,1,58,Музыка - Винил
4,2013-01-15,0,25,2555,1099.000000,1,56,Музыка - CD фирменного производства

In [70]:
train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 8 columns):
date                  datetime64[ns]
date_block_num        int8
shop_id               category
item_id               category
item_price            float32
item_cnt_day          int16
item_category_id      category
item_category_name    object
dtypes: category(3), datetime64[ns](1), float32(1), int16(1), int8(1), object(1)
memory usage: 398.6 MB

## Get additional data using `Google API`
* **Translate Russian text in `item_category_name` into English text using Google Translator**
* **Get the full address of the store by searching the `shop_name` via Google Searching**

In [71]:
# Get translated item_category_name as English

item_category_names = train['item_category_name'].unique()
len(item_category_names)

84

In [72]:
from google.oauth2 import service_account
credentials = service_account.Credentials.from_service_account_file(
    '')

In [73]:
# Imports the Google Cloud client library
from google.cloud import translate

translate_client = translate.Client(credentials=credentials)

In [74]:
translated_item_category_names = []

for unique_cat_name in item_category_names:
    # The text to translate
    text = unique_cat_name

    # The target language
    target = 'en'

    # Translates some text into Russian
    translation = translate_client.translate(
        text,
        target_language=target)

    #print(u'Text: {}'.format(text))
    #print(u'Translation: {}'.format(translation['translatedText']))
    translated_item_category_names.append(translation['translatedText'])

In [75]:
# Check; all texts translated successfully?
print(translated_item_category_names)

['Cinema - Blu-Ray', 'Music - Vinyl', 'Music - CD of branded production', 'Music - Musical video', 'Music - CD of local production', 'Games - XBOX 360', 'Games - PS3', 'PC Games - Additional Edition', 'PC Games - Standard Edition', 'Games - PSP', 'Cinema - DVD', 'Programs - Home and Office', 'Books - Methodical materials 1С', 'PC Games - Collector&#39;s Edition', 'Games - PSVita', 'Gifts - Development', 'Programs - 1C: Enterprise 8', 'Programs - Teaching', 'Music - MP3', 'Music - Gift edition', 'Accessories - PSP', 'Gifts - Gadgets, robots, sports', 'Books - Audiobooks', 'Game Consoles - XBOX 360', 'Accessories - PS3', 'Accessories - PS4', 'Accessories - PSVita', 'Gifts - Certificates, services', 'Payment cards - PSN', 'Payment cards - Live!', 'Accessories - XBOX 360', 'Cinema - Blu-Ray 3D', 'Games - Accessories for games', 'Game Consoles - PSVita', 'Books - Audiobooks 1C', 'Cinema - Collector&#39;s', 'Gifts - Postcards, stickers', 'Game Consoles - PS3', 'Gifts - Souvenirs', 'Gifts - Board games (compact)', 'Clean media (piece)', 'Clean carriers (spire)', 'Gifts - Board Games', 'Office', 'Gifts - Soft toys', 'PC - Headsets / Headphones', 'Gifts - Souvenirs (per sample)', 'Game Consoles - PSP', 'Elements of a food', 'Gifts - Figures', 'Gifts - Attributes', 'Gifts - Bags, Albums, Mouse pads', 'Games - PS2', 'Delivery of goods', 'Books - Business Literature', 'Accessories - PS2', 'Books - Computer Literature', 'Game Consoles - PS2', 'PC Games - Digit', 'Programs - Home and Office (Figure)', 'Programs - Teaching (Numbers)', 'Books - Number', 'Books - Audiobooks (Numbers)', 'Книги - Путеводители', 'Payment cards (Movies, Music, Games)', 'Movies - Blu-Ray 4K', 'Books - Fiction', 'Game Consoles - PS4', 'Games - PS4', 'Game Consoles - Other', 'Tickets (figure)', 'Game Consoles - XBOX ONE', 'Books - Cognitive Literature', 'Payment cards - Live! (Numeral)', 'Games - XBOX ONE', 'Accessories - XBOX ONE', 'Programs - MAC (Number)', 'Android games - Digit', 'MAC Games - Digit', 'Books - Comics, manga', 'Books - Postcards', 'Books - Artbook, encyclopedia', 'Official - Tickets', 'Payment Cards - Windows (Digital)']

## Text column preprocessing

* Validate the translation done successfully
  * If not, execute translation again
* transform as lowercase
* Remove unnecessary characters
* and?

In [76]:
translated_item_category_names.index('Книги - Путеводители')

63

In [77]:
translation = translate_client.translate(
    translated_item_category_names[63],
    target_language=target)

translation['translatedText']

'Книги - Путеводители'

In [78]:
# google translate api does not work for this case
# manullay find the translated word in English

translated_item_category_names[63] = 'Books - Travel Guides'

In [79]:
print(translated_item_category_names)

['Cinema - Blu-Ray', 'Music - Vinyl', 'Music - CD of branded production', 'Music - Musical video', 'Music - CD of local production', 'Games - XBOX 360', 'Games - PS3', 'PC Games - Additional Edition', 'PC Games - Standard Edition', 'Games - PSP', 'Cinema - DVD', 'Programs - Home and Office', 'Books - Methodical materials 1С', 'PC Games - Collector&#39;s Edition', 'Games - PSVita', 'Gifts - Development', 'Programs - 1C: Enterprise 8', 'Programs - Teaching', 'Music - MP3', 'Music - Gift edition', 'Accessories - PSP', 'Gifts - Gadgets, robots, sports', 'Books - Audiobooks', 'Game Consoles - XBOX 360', 'Accessories - PS3', 'Accessories - PS4', 'Accessories - PSVita', 'Gifts - Certificates, services', 'Payment cards - PSN', 'Payment cards - Live!', 'Accessories - XBOX 360', 'Cinema - Blu-Ray 3D', 'Games - Accessories for games', 'Game Consoles - PSVita', 'Books - Audiobooks 1C', 'Cinema - Collector&#39;s', 'Gifts - Postcards, stickers', 'Game Consoles - PS3', 'Gifts - Souvenirs', 'Gifts - Board games (compact)', 'Clean media (piece)', 'Clean carriers (spire)', 'Gifts - Board Games', 'Office', 'Gifts - Soft toys', 'PC - Headsets / Headphones', 'Gifts - Souvenirs (per sample)', 'Game Consoles - PSP', 'Elements of a food', 'Gifts - Figures', 'Gifts - Attributes', 'Gifts - Bags, Albums, Mouse pads', 'Games - PS2', 'Delivery of goods', 'Books - Business Literature', 'Accessories - PS2', 'Books - Computer Literature', 'Game Consoles - PS2', 'PC Games - Digit', 'Programs - Home and Office (Figure)', 'Programs - Teaching (Numbers)', 'Books - Number', 'Books - Audiobooks (Numbers)', 'Books - Travel Guides', 'Payment cards (Movies, Music, Games)', 'Movies - Blu-Ray 4K', 'Books - Fiction', 'Game Consoles - PS4', 'Games - PS4', 'Game Consoles - Other', 'Tickets (figure)', 'Game Consoles - XBOX ONE', 'Books - Cognitive Literature', 'Payment cards - Live! (Numeral)', 'Games - XBOX ONE', 'Accessories - XBOX ONE', 'Programs - MAC (Number)', 'Android games - Digit', 'MAC Games - Digit', 'Books - Comics, manga', 'Books - Postcards', 'Books - Artbook, encyclopedia', 'Official - Tickets', 'Payment Cards - Windows (Digital)']

#### We can split each category name by ` - `, however;
* Many word seem to have been translated as `number`, `figure`, `numeral`, etc ...
  * we doubt whether the translation is correct or not.
  * **We consider them as `digital` type purchase and keep them in data.**
* There are some inevident categorization
  * For the first categry name, `'payment cards'` and `'payment cards ((movies, music, games))'` exist seperately
  * `official - tickets` and `tickets (figure)` as the first category names exist seperately as well
    * **For `payment cards`, we can combine them. For the `tickets` thing, we just leave them as divided.**

In [80]:
import re

In [81]:
translated_item_category_names_dict = {}

for i, word in enumerate(translated_item_category_names):
    
    word = word.lower()
    split = word.split(' - ')
    
    first_cat = split[0]
    
    try:
        second_cat = split[1]
    except:
        second_cat = ''
        
    if first_cat not in translated_item_category_names_dict:
        translated_item_category_names_dict[first_cat] = []
        
    translated_item_category_names_dict[first_cat].append(second_cat)
    
translated_item_category_names_dict

{'accessories': ['psp', 'ps3', 'ps4', 'psvita', 'xbox 360', 'ps2', 'xbox one'],
 'android games': ['digit'],
 'books': ['methodical materials 1с',
  'audiobooks',
  'audiobooks 1c',
  'business literature',
  'computer literature',
  'number',
  'audiobooks (numbers)',
  'travel guides',
  'fiction',
  'cognitive literature',
  'comics, manga',
  'postcards',
  'artbook, encyclopedia'],
 'cinema': ['blu-ray', 'dvd', 'blu-ray 3d', 'collector&#39;s'],
 'clean carriers (spire)': [''],
 'clean media (piece)': [''],
 'delivery of goods': [''],
 'elements of a food': [''],
 'game consoles': ['xbox 360',
  'psvita',
  'ps3',
  'psp',
  'ps2',
  'ps4',
  'other',
  'xbox one'],
 'games': ['xbox 360',
  'ps3',
  'psp',
  'psvita',
  'accessories for games',
  'ps2',
  'ps4',
  'xbox one'],
 'gifts': ['development',
  'gadgets, robots, sports',
  'certificates, services',
  'postcards, stickers',
  'souvenirs',
  'board games (compact)',
  'board games',
  'soft toys',
  'souvenirs (per sample)',
  'figures',
  'attributes',
  'bags, albums, mouse pads'],
 'mac games': ['digit'],
 'movies': ['blu-ray 4k'],
 'music': ['vinyl',
  'cd of branded production',
  'musical video',
  'cd of local production',
  'mp3',
  'gift edition'],
 'office': [''],
 'official': ['tickets'],
 'payment cards': ['psn', 'live!', 'live! (numeral)', 'windows (digital)'],
 'payment cards (movies, music, games)': [''],
 'pc': ['headsets / headphones'],
 'pc games': ['additional edition',
  'standard edition',
  'collector&#39;s edition',
  'digit'],
 'programs': ['home and office',
  '1c: enterprise 8',
  'teaching',
  'home and office (figure)',
  'teaching (numbers)',
  'mac (number)'],
 'tickets (figure)': ['']}

In [82]:
# reflect the above

for i, word in enumerate(translated_item_category_names):
    
    word_ = re.sub(r'figure|numbers|number|numeral|digital|digit', 'digital', word.lower())
    translated_item_category_names[i] = word_
    
    if word_ == 'payment cards (movies, music, games)':
        translated_item_category_names[i] = 'payment cards - movies, music, games'
    
    print(translated_item_category_names[i])

cinema - blu-ray
music - vinyl
music - cd of branded production
music - musical video
music - cd of local production
games - xbox 360
games - ps3
pc games - additional edition
pc games - standard edition
games - psp
cinema - dvd
programs - home and office
books - methodical materials 1с
pc games - collector&#39;s edition
games - psvita
gifts - development
programs - 1c: enterprise 8
programs - teaching
music - mp3
music - gift edition
accessories - psp
gifts - gadgets, robots, sports
books - audiobooks
game consoles - xbox 360
accessories - ps3
accessories - ps4
accessories - psvita
gifts - certificates, services
payment cards - psn
payment cards - live!
accessories - xbox 360
cinema - blu-ray 3d
games - accessories for games
game consoles - psvita
books - audiobooks 1c
cinema - collector&#39;s
gifts - postcards, stickers
game consoles - ps3
gifts - souvenirs
gifts - board games (compact)
clean media (piece)
clean carriers (spire)
gifts - board games
office
gifts - soft toys
pc - headsets / headphones
gifts - souvenirs (per sample)
game consoles - psp
elements of a food
gifts - digitals
gifts - attributes
gifts - bags, albums, mouse pads
games - ps2
delivery of goods
books - business literature
accessories - ps2
books - computer literature
game consoles - ps2
pc games - digital
programs - home and office (digital)
programs - teaching (digital)
books - digital
books - audiobooks (digital)
books - travel guides
payment cards - movies, music, games
movies - blu-ray 4k
books - fiction
game consoles - ps4
games - ps4
game consoles - other
tickets (digital)
game consoles - xbox one
books - cognitive literature
payment cards - live! (digital)
games - xbox one
accessories - xbox one
programs - mac (digital)
android games - digital
mac games - digital
books - comics, manga
books - postcards
books - artbook, encyclopedia
official - tickets
payment cards - windows (digital)

In [83]:
translated_catname_mapped = dict(zip(item_category_names,
                                    translated_item_category_names))

train['item_category_name_eng'] = train['item_category_name'].map(translated_catname_mapped)
train = train.drop(['item_category_name'], axis=1)

In [84]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,item_category_name_eng
0,2013-02-01,0,59,22154,999.000000,1,37,cinema - blu-ray
1,2013-03-01,0,25,2552,899.000000,1,58,music - vinyl
2,2013-05-01,0,25,2552,899.000000,-1,58,music - vinyl
3,2013-06-01,0,25,2554,1709.050049,1,58,music - vinyl
4,2013-01-15,0,25,2555,1099.000000,1,56,music - cd of branded production

In [85]:
# Get translated shop_name as English
# Since we did not execute `id-name` mapping regarding shop, 

shop_id_item_name_mapped = dict(zip(shops['shop_id'].tolist(),
                                       shops['shop_name'].tolist()))
train['shop_name'] = train['shop_id'].map(shop_id_item_name_mapped)

In [86]:
shop_names = train['shop_name'].unique()
len(shop_names)

60

### As above, we gather translations, validate and reflect to the `shop_name` data.

In [87]:
shop_loc_names = train['shop_name'].apply(lambda x: x.split(' ')[0])
train['shop_loc_name'] = shop_loc_names

In [88]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,item_category_name_eng,shop_name,shop_loc_name
0,2013-02-01,0,59,22154,999.000000,1,37,cinema - blu-ray,"Ярославль ТЦ ""Альтаир""",Ярославль
1,2013-03-01,0,25,2552,899.000000,1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва
2,2013-05-01,0,25,2552,899.000000,-1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва
3,2013-06-01,0,25,2554,1709.050049,1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва
4,2013-01-15,0,25,2555,1099.000000,1,56,music - cd of branded production,"Москва ТРК ""Атриум""",Москва

In [89]:
shop_loc_names_uniques = train['shop_loc_name'].unique().tolist()
shop_loc_names_translated = []

for unique_shop_loc_name in shop_loc_names_uniques:
    text = unique_shop_loc_name
    target = 'en'
    translation = translate_client.translate(
        text,
        target_language=target)

    shop_loc_names_translated.append(translation['translatedText'].lower())

In [90]:
print(shop_loc_names_uniques)

['Ярославль', 'Москва', 'Курск', 'Красноярск', 'Волжский', 'Воронеж', 'Адыгея', 'Балашиха', '!Якутск', 'Коломна', 'Калуга', 'Жуковский', 'Казань', 'Интернет-магазин', 'Уфа', 'Н.Новгород', 'Чехов', 'Химки', 'Сургут', 'Тюмень', 'СПб', 'РостовНаДону', 'Омск', 'Самара', 'Новосибирск', 'Сергиев', 'Вологда', 'Якутск', 'Цифровой', 'Выездная', 'Томск', 'Мытищи']

In [91]:
print(shop_loc_names_translated)

['yaroslavl', 'moscow', 'kursk', 'krasnoyarsk', 'volzhsky', 'voronezh', 'adygea', 'balashiha', 'yakutsk', 'kolomna', 'kaluga', 'zhukovsky', 'kazan', 'online store', 'ufa', 'n.novgorod', 'chekhov', 'khimki', 'surgut', 'tyumen', 'st. petersburg', 'rostovnadonu', 'omsk', 'samara', 'novosibirsk', 'sergiev', 'vologda', 'yakutsk', 'digital', 'traveling', 'tomsk', 'mytischi']

In [92]:
shoploc_traveling_idx = shop_loc_names_translated.index('traveling')  # convert to 'export'
shoploc_onlinestore_idx = shop_loc_names_translated.index('online store')  # convert to 'online'
shoploc_digital_idx = shop_loc_names_translated.index('digital')  # convert to 'online'

shop_loc_names_translated[shoploc_traveling_idx] = 'export'
shop_loc_names_translated[shoploc_onlinestore_idx] = 'online'
shop_loc_names_translated[shoploc_digital_idx] = 'online'

In [93]:
shop_name_loc_mapped = dict(zip(shop_loc_names_uniques,
                               shop_loc_names_translated))
train['shop_loc_name_eng'] = train['shop_loc_name'].map(shop_name_loc_mapped)
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,item_category_name_eng,shop_name,shop_loc_name,shop_loc_name_eng
0,2013-02-01,0,59,22154,999.000000,1,37,cinema - blu-ray,"Ярославль ТЦ ""Альтаир""",Ярославль,yaroslavl
1,2013-03-01,0,25,2552,899.000000,1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва,moscow
2,2013-05-01,0,25,2552,899.000000,-1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва,moscow
3,2013-06-01,0,25,2554,1709.050049,1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва,moscow
4,2013-01-15,0,25,2555,1099.000000,1,56,music - cd of branded production,"Москва ТРК ""Атриум""",Москва,moscow

### Get additional information from the name of the city (location) using `web scraping`
SOURCE TO CRAWL : https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Russia_by_population

* HTML PATTERN
```html
<tr>
<th align="center">1</th>
<td><i><b><a href="/wiki/Moscow" title="Moscow">Moscow</a></b></i></td>
<td><span lang="ru" xml:lang="ru">Москва</span></td>
<td><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Flag_of_Moscow.svg/23px-Flag_of_Moscow.svg.png" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Flag_of_Moscow.svg/35px-Flag_of_Moscow.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Flag_of_Moscow.svg/45px-Flag_of_Moscow.svg.png 2x" data-file-width="1200" data-file-height="800" />&#160;</span><a href="/wiki/Moscow" title="Moscow">Moscow (federal city)</a><sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[3]</a></sup></td>
<td><a href="/wiki/Central_Federal_District" title="Central Federal District">Central</a></td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;">12,228,685</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;">11,503,501</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;"><span style="display:none" class="sortkey">7000630402866049210♠</span><span style="color:green">+6.30%</span></td>
</tr>
<tr>
<th align="center">2</th>
<td><i><b><a href="/wiki/Saint_Petersburg" title="Saint Petersburg">Saint Petersburg</a></b></i></td>
<td><span lang="ru" xml:lang="ru">Санкт-Петербург</span></td>
<td><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Flag_of_Saint_Petersburg_Russia.svg/23px-Flag_of_Saint_Petersburg_Russia.svg.png" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Flag_of_Saint_Petersburg_Russia.svg/35px-Flag_of_Saint_Petersburg_Russia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Flag_of_Saint_Petersburg_Russia.svg/45px-Flag_of_Saint_Petersburg_Russia.svg.png 2x" data-file-width="1200" data-file-height="800" />&#160;</span><a href="/wiki/Saint_Petersburg" title="Saint Petersburg">Saint Petersburg (federal city)</a><sup id="cite_ref-4" class="reference"><a href="#cite_note-4">[4]</a></sup></td>
<td><a href="/wiki/Northwestern_Federal_District" title="Northwestern Federal District">Northwest</a></td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;">5,281,579</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;">4,879,566</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;"><span style="display:none" class="sortkey">7000823870401588990♠</span><span style="color:green">+8.24%</span></td>
</tr>
```

### What to crawl for each city

* `shop_loc_population`
* `shop_loc_latitude`
* `shop_loc_longitude`

In [183]:
# get the information above for each city except for 'online' and 'export' values.

In [94]:
import requests
from bs4 import BeautifulSoup

In [95]:
print(shop_loc_names_uniques)

['Ярославль', 'Москва', 'Курск', 'Красноярск', 'Волжский', 'Воронеж', 'Адыгея', 'Балашиха', '!Якутск', 'Коломна', 'Калуга', 'Жуковский', 'Казань', 'Интернет-магазин', 'Уфа', 'Н.Новгород', 'Чехов', 'Химки', 'Сургут', 'Тюмень', 'СПб', 'РостовНаДону', 'Омск', 'Самара', 'Новосибирск', 'Сергиев', 'Вологда', 'Якутск', 'Цифровой', 'Выездная', 'Томск', 'Мытищи']

In [96]:
print(shop_name_loc_mapped)

{'Ярославль': 'yaroslavl', 'Москва': 'moscow', 'Курск': 'kursk', 'Красноярск': 'krasnoyarsk', 'Волжский': 'volzhsky', 'Воронеж': 'voronezh', 'Адыгея': 'adygea', 'Балашиха': 'balashiha', '!Якутск': 'yakutsk', 'Коломна': 'kolomna', 'Калуга': 'kaluga', 'Жуковский': 'zhukovsky', 'Казань': 'kazan', 'Интернет-магазин': 'online', 'Уфа': 'ufa', 'Н.Новгород': 'n.novgorod', 'Чехов': 'chekhov', 'Химки': 'khimki', 'Сургут': 'surgut', 'Тюмень': 'tyumen', 'СПб': 'st. petersburg', 'РостовНаДону': 'rostovnadonu', 'Омск': 'omsk', 'Самара': 'samara', 'Новосибирск': 'novosibirsk', 'Сергиев': 'sergiev', 'Вологда': 'vologda', 'Якутск': 'yakutsk', 'Цифровой': 'online', 'Выездная': 'export', 'Томск': 'tomsk', 'Мытищи': 'mytischi'}

First five rows of wikipedia table we're scraping
![wiki-table](data/wiki-table.png)

In [97]:
url = 'https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Russia_by_population'
res = requests.get(url)
soup = BeautifulSoup(res.content, 'lxml')
table_classes ={"class": ["sortable", "plainrowheaders"]}
wikitable = soup.findAll("table", table_classes)[0]

#print(wikitables)

In [98]:
# column names of wiki table

wikitable.findAll("tr")[0].text.split('\n')[1:-1]

['Rank (2017)',
 'City/town',
 'Russian',
 'Federal Subject',
 'Federal District',
 'Population',
 '(2017 estimate)[1]',
 'Population',
 '(2010 Census)[2]',
 'Change']

In [99]:
# values in the first row of wiki table
wikitable.findAll("tr")[1].text.split('\n')[1:-1]

['1',
 'Moscow',
 'Москва',
 '\xa0Moscow (federal city)[3]',
 'Central',
 '12,228,685',
 '11,503,501',
 '7000630402866049210♠+6.30%']

In [100]:
wikitable_cols = [
    [],[],[],[],[],[],[],[]
]

for i, row in enumerate(wikitable.findAll("tr")):
    if i != 0:
        row_values = row.text.split('\n')[1:-1]
        #print(row_values)

        for j, val in enumerate(row_values):
            wikitable_cols[j].append(str(val))

In [101]:
wiki_ru_table = pd.DataFrame({'rank_2017' : wikitable_cols[0],
                             'name_en' : wikitable_cols[1],
                             'name_ru' : wikitable_cols[2],
                             'fed_sub' : wikitable_cols[3],
                             'fed_dist' : wikitable_cols[4],
                             'pop_2017_est' : wikitable_cols[5],
                             'pop_2010_cen' : wikitable_cols[6],
                             'change_perc' : wikitable_cols[7]})

wiki_ru_table.head()

,change_perc,fed_dist,fed_sub,name_en,name_ru,pop_2010_cen,pop_2017_est,rank_2017
0,7000630402866049210♠+6.30%,Central,Moscow (federal city)[3],Moscow,Москва,"11,503,501","12,228,685",1
1,7000823870401588990♠+8.24%,Northwest,Saint Petersburg (federal city)[4],Saint Petersburg,Санкт-Петербург,"4,879,566","5,281,579",2
2,7000876408138671720♠+8.76%,Siberia,Novosibirsk Oblast,Novosibirsk,Новосибирск,"1,473,754","1,602,915",3
3,7000783406382707600♠+7.83%,Ural,Sverdlovsk Oblast,Yekaterinburg,Екатеринбург,"1,349,772","1,455,514",4
4,6999883322578659040♠+0.88%,Volga,Nizhny Novgorod Oblast,Nizhny Novgorod,Нижний Новгород,"1,250,619","1,261,666",5

In [103]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,item_category_name_eng,shop_name,shop_loc_name,shop_loc_name_eng
0,2013-02-01,0,59,22154,999.000000,1,37,cinema - blu-ray,"Ярославль ТЦ ""Альтаир""",Ярославль,yaroslavl
1,2013-03-01,0,25,2552,899.000000,1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва,moscow
2,2013-05-01,0,25,2552,899.000000,-1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва,moscow
3,2013-06-01,0,25,2554,1709.050049,1,58,music - vinyl,"Москва ТРК ""Атриум""",Москва,moscow
4,2013-01-15,0,25,2555,1099.000000,1,56,music - cd of branded production,"Москва ТРК ""Атриум""",Москва,moscow

In [185]:
wiki_ru_table['name_en_lowered'] = wiki_ru_table['name_en'].apply(lambda x: x.lower())

In [174]:
joined_wiki_cityname_uniques = ' '.join(wiki_ru_table_reloaded.name_en_lowered.unique())
train_wiki_cityname_mapped = {}

for train_cityname in train.shop_loc_name_eng.unique():
    
    find_all_in_wiki = re.findall(train_cityname, joined_wiki_cityname_uniques)
    
    if (train_cityname in ['online', 'export']) or find_all_in_wiki:
        train_wiki_cityname_mapped[train_cityname] = train_cityname
        
    else:
        train_wiki_cityname_mapped[train_cityname] = 'NOT FOUND'

In [175]:
train_wiki_cityname_mapped

{'adygea': 'NOT FOUND',
 'balashiha': 'NOT FOUND',
 'chekhov': 'chekhov',
 'export': 'export',
 'kaluga': 'kaluga',
 'kazan': 'kazan',
 'khimki': 'khimki',
 'kolomna': 'kolomna',
 'krasnoyarsk': 'krasnoyarsk',
 'kursk': 'kursk',
 'moscow': 'moscow',
 'mytischi': 'NOT FOUND',
 'n.novgorod': 'NOT FOUND',
 'novosibirsk': 'novosibirsk',
 'omsk': 'omsk',
 'online': 'online',
 'rostovnadonu': 'NOT FOUND',
 'samara': 'samara',
 'sergiev': 'NOT FOUND',
 'st. petersburg': 'NOT FOUND',
 'surgut': 'surgut',
 'tomsk': 'tomsk',
 'tyumen': 'tyumen',
 'ufa': 'ufa',
 'vologda': 'vologda',
 'volzhsky': 'volzhsky',
 'voronezh': 'voronezh',
 'yakutsk': 'yakutsk',
 'yaroslavl': 'yaroslavl',
 'zhukovsky': 'zhukovsky'}

In [181]:
# manually find the city names not matched except for 'adgyea' - just a subtle difference in text

# 'adygea' is the name of federal subject in Russia - not a name of city
# Full name in Russian for 'adygea' translated loc name = 'Адыгея ТЦ "Мега"'
print([shopname for shopname in train.shop_name.unique() if shopname.startswith('Адыгея')][0])

# google the full name directly and get the city name - 'urgenevskoye Shosse, 27, Novaya Adygeya, Krasnodar Krai'
# >>> 'krasnodar' found in wikitable.

# finish the dictionary for mapping.
train_wiki_cityname_mapped = {'adygea': 'krasnodar',
                             'balashiha': 'balashikha',
                             'chekhov': 'chekhov',
                             'export': 'export',
                             'kaluga': 'kaluga',
                             'kazan': 'kazan',
                             'khimki': 'khimki',
                             'kolomna': 'kolomna',
                             'krasnoyarsk': 'krasnoyarsk',
                             'kursk': 'kursk',
                             'moscow': 'moscow',
                             'mytischi': 'mytishchi',
                             'n.novgorod': 'nizhny novgorod',
                             'novosibirsk': 'novosibirsk',
                             'omsk': 'omsk',
                             'online': 'online',
                             'rostovnadonu': 'rostov-on-don',
                             'samara': 'samara',
                             'sergiev': 'sergiyev posad',
                             'st. petersburg': 'saint petersburg',
                             'surgut': 'surgut',
                             'tomsk': 'tomsk',
                             'tyumen': 'tyumen',
                             'ufa': 'ufa',
                             'vologda': 'vologda',
                             'volzhsky': 'volzhsky',
                             'voronezh': 'voronezh',
                             'yakutsk': 'yakutsk',
                             'yaroslavl': 'yaroslavl',
                             'zhukovsky': 'zhukovsky'
}

Адыгея ТЦ "Мега"

In [187]:
# Using the dictionary above, we created a modified version of city(location) name column.
train['shop_loc_name_eng_corrected'] = train['shop_loc_name_eng'].map(train_wiki_cityname_mapped)

In [212]:
# write a function to additional info from wiki table by city

def grab_city_info(cityname):
    
    if cityname in ['online', 'export']:
        return None, None, None, None, None
    
    city_data = wiki_ru_table[wiki_ru_table['name_en_lowered'] == cityname]
    
    city_fed_dist = city_data['fed_dist'].values[0]
    city_pop_2010 = city_data['pop_2010_cen'].values[0]
    city_pop_2017_est = city_data['pop_2017_est'].values[0]
    city_pop_rank_2017 = city_data['rank_2017'].values[0]
    city_pop_change_2010_2017 = city_data['change_perc'].values[0]
    
    return city_fed_dist, city_pop_2010, city_pop_2017_est, city_pop_rank_2017, city_pop_change_2010_2017

In [198]:
# clean data before executing 'grab_city_info()' function
wiki_ru_table.head()

,change_perc,fed_dist,fed_sub,name_en,name_ru,pop_2010_cen,pop_2017_est,rank_2017,name_en_lowered
0,+6.30,Central,Moscow (federal city)[3],Moscow,Москва,"11,503,501","12,228,685",1,moscow
1,+8.24,Northwest,Saint Petersburg (federal city)[4],Saint Petersburg,Санкт-Петербург,"4,879,566","5,281,579",2,saint petersburg
2,+8.76,Siberia,Novosibirsk Oblast,Novosibirsk,Новосибирск,"1,473,754","1,602,915",3,novosibirsk
3,+7.83,Ural,Sverdlovsk Oblast,Yekaterinburg,Екатеринбург,"1,349,772","1,455,514",4,yekaterinburg
4,+0.88,Volga,Nizhny Novgorod Oblast,Nizhny Novgorod,Нижний Новгород,"1,250,619","1,261,666",5,nizhny novgorod

In [194]:
wiki_ru_table['change_perc'] = wiki_ru_table['change_perc'].apply(lambda x: x.split('♠')[1].split('%')[0])

In [205]:
# function test
print(grab_city_info('moscow'))
print(grab_city_info('kursk'))

('Central', '11,503,501', '12,228,685', '1', '+6.30')
('Central', '415,159', '449,063', '42', '+8.17')

In [214]:
# create a dictionary to extract the city info

train_city_name_unique = train['shop_loc_name_eng_corrected'].unique().tolist()
grabbed_city_info = [grab_city_info(city) for city in train_city_name_unique]

grabbed_city_info_dict = {k:v for (k,v) in zip(train_city_name_unique,
                                              grabbed_city_info)}

grabbed_city_info_dict

{'balashikha': ('Central', '215,494', '450,771', '41', '+109.18'),
 'chekhov': ('Central', '60,720', '70,548', '226', '+16.19'),
 'export': (None, None, None, None, None),
 'kaluga': ('Central', '324,698', '341,892', '56', '+5.30'),
 'kazan': ('Volga', '1,143,535', '1,231,878', '6', '+7.73'),
 'khimki': ('Central', '207,425', '244,668', '78', '+17.95'),
 'kolomna': ('Central', '144,589', '144,125', '121', '−0.32'),
 'krasnodar': ('South', '744,995', '881,476', '16', '+18.32'),
 'krasnoyarsk': ('Siberia', '973,826', '1,082,933', '12', '+11.20'),
 'kursk': ('Central', '415,159', '449,063', '42', '+8.17'),
 'moscow': ('Central', '11,503,501', '12,228,685', '1', '+6.30'),
 'mytishchi': ('Central', '173,160', '205,397', '93', '+18.62'),
 'nizhny novgorod': ('Volga', '1,250,619', '1,261,666', '5', '+0.88'),
 'novosibirsk': ('Siberia', '1,473,754', '1,602,915', '3', '+8.76'),
 'omsk': ('Siberia', '1,154,116', '1,178,391', '8', '+2.10'),
 'online': (None, None, None, None, None),
 'rostov-on-don': ('South[5]', '1,089,261', '1,125,299', '10', '+3.31'),
 'saint petersburg': ('Northwest', '4,879,566', '5,281,579', '2', '+8.24'),
 'samara': ('Volga', '1,164,685', '1,169,719', '9', '+0.43'),
 'sergiyev posad': ('Central', '111,179', '104,579', '159', '−5.94'),
 'surgut': ('Ural', '306,675', '360,590', '51', '+17.58'),
 'tomsk': ('Siberia', '524,669', '572,740', '28', '+9.16'),
 'tyumen': ('Ural', '581,907', '744,554', '18', '+27.95'),
 'ufa': ('Volga', '1,062,319', '1,115,560', '11', '+5.01'),
 'vologda': ('Northwest', '301,755', '313,012', '63', '+3.73'),
 'volzhsky': ('South', '314,255', '326,055', '58', '+3.75'),
 'voronezh': ('Central', '889,680', '1,039,801', '14', '+16.87'),
 'yakutsk': ('Far East', '269,601', '307,911', '64', '+14.21'),
 'yaroslavl': ('Central', '591,486', '608,079', '25', '+2.81'),
 'zhukovsky': ('Central', '104,736', '108,980', '150', '+4.05')}

In [216]:
train['shop_loc_fed'] = train['shop_loc_name_eng_corrected'].apply(lambda x: grabbed_city_info_dict[x][0])
train['shop_loc_pop_2010'] = train['shop_loc_name_eng_corrected'].apply(lambda x: grabbed_city_info_dict[x][1])
train['shop_loc_pop_2017'] = train['shop_loc_name_eng_corrected'].apply(lambda x: grabbed_city_info_dict[x][2])
train['shop_loc_pop_rank_2017'] = train['shop_loc_name_eng_corrected'].apply(lambda x: grabbed_city_info_dict[x][3])
train['shop_loc_pop_change_2010_2017'] = train['shop_loc_name_eng_corrected'].apply(lambda x: grabbed_city_info_dict[x][4])

### Back to `category_name` - 
### Split the category name into two levels

In [227]:
item_category_name_eng_uniques = pd.Series(train['item_category_name_eng'].unique().tolist())
item_category_split_names = [tup for tup in item_category_name_eng_uniques.apply(lambda x: tuple(x.split(' - ')))]

In [229]:
item_category_split_mapped = {k:v for (k,v) in zip(item_category_name_eng_uniques,
                                                  item_category_split_names)}

In [234]:
train['item_category_name_eng_1'] = train['item_category_name_eng'].apply(lambda x: item_category_split_mapped[x][0])
train['item_category_name_eng_2'] = train['item_category_name_eng'].apply(lambda x: item_category_split_mapped[x][1]\
                                                                         if len(item_category_split_mapped[x]) == 2\
                                                                          else None)

### Drop unnecessary columns
* `item_category_name_eng`
* `shop_name`
* `shop_loc_name`
* `shop_loc_name_eng`

In [239]:
train = train.drop(['item_category_name_eng',
                   'shop_name',
                   'shop_loc_name',
                   'shop_loc_name_eng'], axis = 1)

train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,shop_loc_name_eng_corrected,shop_loc_fed,shop_loc_pop_2010,shop_loc_pop_2017,shop_loc_pop_rank_2017,shop_loc_pop_change_2010_2017,item_category_name_eng_1,item_category_name_eng_2
0,2013-02-01,0,59,22154,999.000000,1,37,yaroslavl,Central,"591,486","608,079",25,+2.81,cinema,blu-ray
1,2013-03-01,0,25,2552,899.000000,1,58,moscow,Central,"11,503,501","12,228,685",1,+6.30,music,vinyl
2,2013-05-01,0,25,2552,899.000000,-1,58,moscow,Central,"11,503,501","12,228,685",1,+6.30,music,vinyl
3,2013-06-01,0,25,2554,1709.050049,1,58,moscow,Central,"11,503,501","12,228,685",1,+6.30,music,vinyl
4,2013-01-15,0,25,2555,1099.000000,1,56,moscow,Central,"11,503,501","12,228,685",1,+6.30,music,cd of branded production

In [241]:
# rename olumns
to_clean_columns = {
    'date':'date',
    'date_block_num':'date_block_num',
    'item_id':'item_id',
    'shop_id':'shop_id',
    'item_price':'item_price',
    'item_cnt_day':'item_cnt_day',
    'item_category_name_eng_1':'item_first_categry',
    'item_category_name_eng_2':'item_second_categry',
    'shop_loc_name_eng_corrected':'shop_loc',
    'shop_loc_fed':'shop_loc_dist',
    'shop_loc_pop_2010':'shop_loc_pop_2010',
    'shop_loc_pop_2017':'shop_loc_pop_2017',
    'shop_loc_pop_rank_2017':'shop_loc_pop_rank_2017',
    'shop_loc_pop_change_2010_2017':'shop_loc_pop_change_2010_2017'
}


train = train.rename(columns=to_clean_columns)

## Optimize memory usage and export as `csv`
### to proceed EDA & Feature Engineering further in another notebook!

New columns to be optimized
* `shop_loc`                         
  * object ---> category
* `shop_loc_dist` 
  * object ---> category
* `shop_loc_pop_2010`                
  * object ---> float (None values exist)
* `shop_loc_pop_2017`                
  * object ---> float (None values exist)
* `shop_loc_pop_rank_2017`           
  * object ---> float (None values exist)
* `shop_loc_pop_change_2010_2017`   
  * object ---> float (None values exist)
* `item_first_categry`               
  * object ---> category
* `item_second_categry` 
  * object ---> category

In [246]:
# before memory optimization - 1.5GB
train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 15 columns):
date                             datetime64[ns]
date_block_num                   int8
shop_id                          category
item_id                          category
item_price                       float32
item_cnt_day                     int16
item_category_id                 category
shop_loc                         object
shop_loc_dist                    object
shop_loc_pop_2010                object
shop_loc_pop_2017                object
shop_loc_pop_rank_2017           object
shop_loc_pop_change_2010_2017    object
item_first_categry               object
item_second_categry              object
dtypes: category(3), datetime64[ns](1), float32(1), int16(1), int8(1), object(8)
memory usage: 1.5 GB

In [255]:
train['shop_loc_pop_2010'] = train['shop_loc_pop_2010'].apply(lambda x: re.sub(r',', '', x) if x is not None else None)
train['shop_loc_pop_2017'] = train['shop_loc_pop_2017'].apply(lambda x: re.sub(r',', '', x) if x is not None else None)

In [284]:
train['shop_loc_pop_change_2010_2017'] =\
            100 * (train['shop_loc_pop_2017'].astype('float') /\
                                                train['shop_loc_pop_2010'].astype('float') - 1).apply(lambda x:\
                                                                                                     round(x, 3))

In [285]:
for col_to_float in ['shop_loc_pop_2010', 'shop_loc_pop_2017', 
                     'shop_loc_pop_rank_2017', 'shop_loc_pop_change_2010_2017']:
    
    train[col_to_float] = pd.to_numeric(train[col_to_float].astype('float'),
                                      downcast='float')

In [286]:
for col_to_cat in ['shop_loc', 'shop_loc_dist', 'item_first_categry', 'item_second_categry']:
    
    train[col_to_cat] = train[col_to_cat].astype('category')

In [287]:
# after memory optimization - 110MB
train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 15 columns):
date                             datetime64[ns]
date_block_num                   int8
shop_id                          category
item_id                          category
item_price                       float32
item_cnt_day                     int16
item_category_id                 category
shop_loc                         category
shop_loc_dist                    category
shop_loc_pop_2010                float32
shop_loc_pop_2017                float32
shop_loc_pop_rank_2017           float32
shop_loc_pop_change_2010_2017    float32
item_first_categry               category
item_second_categry              category
dtypes: category(7), datetime64[ns](1), float32(5), int16(1), int8(1)
memory usage: 110.0 MB

In [290]:
# export in the local data folder
# filesize - about 320MB (original sales_train.csv - about 95MB)
train.to_csv('data/sales_train_opt_ver1.csv', index=False)

In [291]:
train_reloaded = pd.read_csv('data/sales_train_opt_ver1.csv')

In [293]:
train_reloaded.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id,shop_loc,shop_loc_dist,shop_loc_pop_2010,shop_loc_pop_2017,shop_loc_pop_rank_2017,shop_loc_pop_change_2010_2017,item_first_categry,item_second_categry
0,2013-02-01,0,59,22154,999.000000,1,37,yaroslavl,Central,591486.0,608079.0,25.0,2.8,cinema,blu-ray
1,2013-03-01,0,25,2552,899.000000,1,58,moscow,Central,11503501.0,12228685.0,1.0,6.3,music,vinyl
2,2013-05-01,0,25,2552,899.000000,-1,58,moscow,Central,11503501.0,12228685.0,1.0,6.3,music,vinyl
3,2013-06-01,0,25,2554,1709.050049,1,58,moscow,Central,11503501.0,12228685.0,1.0,6.3,music,vinyl
4,2013-01-15,0,25,2555,1099.000000,1,56,moscow,Central,11503501.0,12228685.0,1.0,6.3,music,cd of branded production

In [292]:
train_reloaded.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 15 columns):
date                             object
date_block_num                   int64
shop_id                          int64
item_id                          int64
item_price                       float64
item_cnt_day                     int64
item_category_id                 int64
shop_loc                         object
shop_loc_dist                    object
shop_loc_pop_2010                float64
shop_loc_pop_2017                float64
shop_loc_pop_rank_2017           float64
shop_loc_pop_change_2010_2017    float64
item_first_categry               object
item_second_categry              object
dtypes: float64(5), int64(5), object(5)
memory usage: 1.1 GB

### When exporting as `csv`, data types are reset to the default types
* At the next notebook, we need to optimize the exported dataset as the above!

# BELOW ~ open another notebook to proceed

## Explanatory Data Exploration (EDA)
* ~~~
* ~~~

# Feature Engineering in Depth

* From the visualizations / insights from EDA, create columns like:
  * `season`, `lifecycle_for_item`, `item_in_trend_or_not`, ....
 
### We will finish data optimization at the point feature engineering completed.

In [180]:
# never forget to set the identical touch on the `test` data set!
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268